
.devtool-tooltip {
	position: absolute;
	top: -40px;
	right: 0;
	padding: 10px 8px;
	background-color: white;
	border-radius: 2px;
	border-color: darkgray;
	border-style: solid;
	border-width: 1px;
	min-height: 36px;
	min-width: 100px;
	opacity: 1.0 !important;
	will-change: top, left;
	-webkit-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
.qv-mode-edit .devtool-tooltip {
	top: 0;
}
.devtool-btn {
	border: none;
	border-radius: 2px;
	display: inline-block;
	height: 36px;
	line-height: 36px;
	outline: 0;
	padding: 0 2rem;
	text-transform: uppercase;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: #FFF;
	background-color: #26a69a;
	text-align: center;
	letter-spacing: .5px;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
	-ms-transition: .2s ease-out;
	transition: .2s ease-out;
	cursor: pointer;
}
.devtool-btn:hover {
	background-color: #2bbbad;
}

